<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<h1>Ensemble des trajets créés
</h1>

<form th:action="@{/trajet}" method="get">
    <input type="text" th:name="userId" th:value="*{userId}" placeholder="taper votre user"/>
    <input type="submit" value="Rechercher"/>
</form>

<div th:each="trajet : ${trajets}">
    <div th:text="${trajet.id}"/>
    <div th:text="${trajet.villeDepart}"/>
    <div th:text="${trajet.villeArrivee}"/>
    <div th:text="${trajet.dateDepart}"/>
    <div th:text="${trajet.nbPlaces}"/>
    <div th:text="${trajet.prix}"/>
    <hr/>
</div>

</body>
</html>

